<template>
  <svg
    id="FAQIcon"
    xmlns="http://www.w3.org/2000/svg"
    width="113.46"
    height="129.909"
    viewBox="0 0 113.46 129.909"
  >
    <path
      d="M39,54.806H74.458A3.828,3.828,0,0,0,78,50.746v-4.06a3.828,3.828,0,0,0-3.546-4.06H39a3.828,3.828,0,0,0-3.546,4.06v4.06A3.828,3.828,0,0,0,39,54.806ZM35.456,75.1A3.828,3.828,0,0,0,39,79.164H74.458A3.828,3.828,0,0,0,78,75.1v-4.06a3.828,3.828,0,0,0-3.546-4.06H39a3.828,3.828,0,0,0-3.546,4.06ZM56.73,105.838a16.237,16.237,0,0,1-10.384-3.854L0,63.651v54.08c0,6.726,4.762,12.179,10.637,12.179h92.186c5.875,0,10.637-5.453,10.637-12.179V63.651L67.114,101.984A16.251,16.251,0,0,1,56.73,105.838Zm52.655-64.493c-1.961-1.761-3.82-3.418-6.562-5.788v-11.2c0-6.726-4.762-12.179-10.637-12.179H75c-.674-.558-1.3-1.081-2-1.664C69.273,7.4,61.871-.088,56.73,0,51.589-.088,44.19,7.4,40.462,10.515c-.7.584-1.33,1.106-2,1.664H21.274c-5.875,0-10.637,5.453-10.637,12.179v11.2c-2.741,2.367-4.6,4.027-6.562,5.788A12.891,12.891,0,0,0,0,50.929v2.7l21.274,17.6V24.358H92.186V71.227l21.274-17.6v-2.7a12.891,12.891,0,0,0-4.075-9.583Z"
      transform="translate(0 0)"
      fill="#7ecc57"
    />
  </svg>
</template>

<script>
export default {
    name: "FAQIcon"
}
</script>

<style>
#FAQIcon {
    max-height: 100px;
    width: 100%;
    color: var(--green);
    margin: 0 auto;
}
</style>
