<template>
  <svg
    id="halfshield"
    xmlns="http://www.w3.org/2000/svg"
    width="108.531"
    height="115.756"
    viewBox="0 0 108.531 115.756"
  >
    <path
      id="Icon_awesome-shield-alt"
      data-name="Icon awesome-shield-alt"
      d="M102.986,18.921,59.574.833a10.887,10.887,0,0,0-8.343,0L7.818,18.921A10.841,10.841,0,0,0,1.125,28.938c0,44.882,25.889,75.9,50.083,85.989a10.887,10.887,0,0,0,8.343,0c19.377-8.072,50.105-35.951,50.105-85.989A10.856,10.856,0,0,0,102.986,18.921ZM55.413,100.908l-.023-86.147L95.163,31.335C94.417,65.567,76.6,90.371,55.413,100.908Z"
      transform="translate(-1.125 -0.002)"
      fill="#61c230"
    />
  </svg>
</template>

<script>
export default {
    name: "HalfShieldIcon"
}
</script>

<style>
#halfshield {
    max-height: 100px;
    width: 100%;
    color: var(--green);
}
</style>
