<template>
  <svg
    id="lock"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 89.775 90.016"
  >
    <path
      d="M70.477,90.016H21.339a3.727,3.727,0,0,1-3.814-3.608V52.022a3.727,3.727,0,0,1,3.814-3.608h4.615V42.855c0-10.408,8.953-18.873,19.952-18.873s19.952,8.469,19.952,18.873v5.559h4.615a3.727,3.727,0,0,1,3.814,3.608V86.408a3.727,3.727,0,0,1-3.814,3.608ZM48.4,70.993a4.679,4.679,0,0,0,2.406-5.38,5.137,5.137,0,0,0-9.78,0,4.682,4.682,0,0,0,2.394,5.378v4.658a2.494,2.494,0,0,0,4.98,0V70.993Zm-11-22.579H54.419V42.855a8.522,8.522,0,0,0-17.018,0v5.559ZM16.355,43.29H4.5a3.3,3.3,0,1,1,0-6.586H16.355a3.3,3.3,0,1,1,0,6.586Zm8.354-17.643A3.572,3.572,0,0,1,22.5,24.9l-9.377-7.3a3.175,3.175,0,0,1-.478-4.638,3.621,3.621,0,0,1,4.9-.452l9.377,7.3a3.182,3.182,0,0,1,1.064,3.656,3.477,3.477,0,0,1-3.281,2.18Zm21.2-7.756A3.391,3.391,0,0,1,42.425,14.6V3.293a3.487,3.487,0,0,1,6.963,0V14.6A3.391,3.391,0,0,1,45.906,17.891Zm21.2,7.756a3.473,3.473,0,0,1-3.288-2.177,3.179,3.179,0,0,1,1.072-3.659l9.377-7.3a3.621,3.621,0,0,1,4.9.452,3.175,3.175,0,0,1-.478,4.638l-9.377,7.3a3.6,3.6,0,0,1-2.209.75ZM87.312,43.29H75.342a3.3,3.3,0,1,1,0-6.586h11.97a3.3,3.3,0,1,1,0,6.586Z"
      transform="translate(-1.019)"
    />
  </svg>
</template>

<script>
export default { name: "LockIcon" }
</script>

<style>
#lock {
    max-height: 100px;
    width: 100%;
    fill: #373737
}
</style>
