<template>
  <svg
    id="plus"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 16.678 16.679"
  >
    <g transform="translate(0.5 0.5)">
      <g>
        <path
          id="Path_1"
          data-name="Path 1"
          d="M18.679,10.839A7.839,7.839,0,1,1,10.839,3,7.839,7.839,0,0,1,18.679,10.839Z"
          transform="translate(-3 -3)"
          fill="none"
          stroke="#3e3e3e"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
        />
        <path
          id="Path_2"
          data-name="Path 2"
          d="M18,12v7.74"
          transform="translate(-10.161 -8.031)"
          fill="none"
          stroke="#3e3e3e"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
        />
        <path
          id="Path_3"
          data-name="Path 3"
          d="M12,18h7.74"
          transform="translate(-8.031 -10.161)"
          fill="none"
          stroke="#3e3e3e"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
    name: "PlusIcon"
}
</script>

<style>
#plus {
    max-height: 24px;
    width: 100%;
    fill: #ffff
}
</style>
