<template>
  <svg
    id="shield"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 66.319 68.954"
  >
    <path
      d="M64.064,24.325a28.64,28.64,0,0,1,4.774-13.589L58.228,1.08A20.129,20.129,0,0,1,46.734,5.417a21.463,21.463,0,0,1-11.256-2.06A22.993,22.993,0,0,1,24.2,5.417,21.6,21.6,0,0,1,13.264,1.479L2.627,11.133a27.973,27.973,0,0,1,4.36,13.192c.135,2.113-.526,5.026-2.015,8.787Q3.958,35.776,3.2,38.518a25,25,0,0,0-.682,3.637A16.711,16.711,0,0,0,6.235,53q2.971,3.523,9.781,7.78a67,67,0,0,0,11.489,4.425l2.231.946c.7.3,1.453.6,2.236.928a9.1,9.1,0,0,1,3.506,2.955,9.934,9.934,0,0,1,3.6-2.955q1.451-.566,2.877-1.187l1.684-.685c.575-.258,1.327-.556,2.24-.885q1.7-.611,3.41-1.178a29.614,29.614,0,0,0,5.74-2.364,48.692,48.692,0,0,0,9.661-7.67,16.482,16.482,0,0,0,3.841-10.952,36.513,36.513,0,0,0-2.556-8.75c-1.472-3.889-2.122-6.906-1.91-9.083Z"
      transform="translate(-2.519 -1.08)"
    />
  </svg>
</template>

<script>
export default {
    name: "ShieldIcon"
}
</script>

<style>
#shield {
    max-height: 100px;
    width: 100%;
    fill: #373737
}
</style>
