/* merriweather-sans-300 - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/public/fonts/MerriweatherSans/MerriweatherSans-Regular.ttf') format('truetype'),

}

/* merriweather-sans-regular - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/public/fonts/MerriweatherSans/MerriweatherSans-Regular.ttf') format('truetype'),

}

/* merriweather-sans-800 - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/public/fonts/MerriweatherSans/MerriweatherSans-Bold.ttf') format('truetype'),

}

/* merriweather-sans-800italic - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/public/fonts/MerriweatherSans/MerriweatherSans-BoldItalic.ttf') format('truetype'),

}

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/public/fonts/RobotoSlab-Regular.ttf') format('truetype'),

}

@font-face {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/public/fonts/Aeonik/Aeonik-Regular.otf') format('opentype'),

}

@font-face {
  font-family: 'Aeonik';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/public/fonts/Aeonik/Aeonik-RegularItalic.otf') format('opentype'),

}

@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/public/fonts/BeVietnamPro/BeVietnamPro-Bold.ttf') format('truetype'),

}

@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/public/fonts/BeVietnamPro/BeVietnamPro-Regular.ttf') format('truetype'),

}

@font-face {
  font-family: 'Hanuman';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/public/fonts/Hanuman/Hanuman-Regular.ttf') format('truetype'),

}

@font-face {
  font-family: 'Hanuman';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/public/fonts/Hanuman/Hanuman-Bold.ttf') format('truetype'),

}


@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/public/fonts/NanumGothic/NanumGothic-Bold.ttf') format('truetype'),

}


@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/public/fonts/NanumGothic/NanumGothic-Bold.ttf') format('truetype'),

}

@font-face {
  font-family: 'NotoSansCJKtc';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/public/fonts/NotoSansCJKtc/NotoSansCJKtc-Regular.otf') format('opentype'),

}

@font-face {
  font-family: 'NotoSansCJKtc';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/public/fonts/NotoSansCJKtc/NotoSansCJKtc-Bold.otf') format('opentype'),

}


@font-face {
  font-family: 'Pyidaungsu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/public/fonts/Pyidaungsu/Pyidaungsu-2.5.3_Bold.ttf') format('truetype'),

}

@font-face {
  font-family: 'Pyidaungsu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/public/fonts/Pyidaungsu/Pyidaungsu-2.5.3_Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'alpdunisys';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/public/fonts/alpdunisys.ttf') format('truetype'),
}

@font-face {
  font-family: 'Monlam Uni Ouchan2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/public/fonts/Monlam_Uni_Ochan2.ttf') format('truetype'),
}

@font-face {
  font-family: 'saysettha';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/public/fonts/saysettha.ttf') format('truetype'),
}

:root {
  /*fonts*/
  --header: 'Aeonik', sans-serif;
  --sm-header: 'Merriweather Sans', sans-serif;
  --quote: 'Aeonik', sans-serif;
  /*sizes*/
  --quote-font: italic 100 1.5em var(--quote);
}

html,
body {
  font: 20px/1.8 'Merriweather Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.bo {
  font-family: 'Monlam Uni Ouchan2', sans-serif !important;
  font-size: 25px;
  line-height: 1.8;
}

.km {
  font-family: 'Hanuman', sans-serif !important;
  font-size: 15px;
  line-height: 1.6;
}

.ko {
  font-family: 'NanumGothic', sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
}

.lo {
  font-family: 'saysettha', sans-serif !important;
  font-size: 15px;
  line-height: 1.8;
}

.my {
  font-family: 'Pyidaungsu', sans-serif !important;
  font-size: 14.66px;
  line-height: 1.667;
}

.ug {
  font-family: 'alpdunisys', sans-serif !important;
  font-size: 17px;
  line-height: 1.5;
}

.ug_cyrillic {
  font-family: 'OpenSans', sans-serif !important;
  font-size: 18px;
  line-height: 1.618;
}

.vi {
  font-family: 'BeVietnamPro', sans-serif !important;
  font-size: 16px;
  line-height: 1.4;
}

.zh_CN {
  font-family: 'msyh_0', sans-serif !important;
  font-size: 22px;
  line-height: 1.7;
}

.zh_HK {
  font-family: 'NotoSansCJKtc', sans-serif !important;
  font-size: 22px;
  line-height: 1.7;
}