:root {
  /* colors*/
  --grey: #373737;
  --green: #61C230;
  --white: #F0F6F0;
  --bcg: #F4F4F4;

}

/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: 65.5% / 1.15 sans-serif;
}

a {
  color: #1d1d1d
}

h1,
h2 {
  margin-bottom: 0;
  font-family: var(--header);
  font-weight: bold;
  font-size: 2em !important;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  /* 1 */
  overflow: visible;
}

input[type="text"] {
  border-radius: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
}

/*END RESETS*/
.v-application {
  font-family: var(--sm-header);
  font-weight: 300;
}

.v-card__subtitle,
.v-card__text {
  font-weight: 300;
}

.theme--light.v-application,
.theme--light.v-card,
.theme--light.v-expansion-panels .v-expansion-panel {
  background-color: var(--bcg);
}

.text {
  font-weight: 300;
  line-height: 1.75em;
  padding-top: 0.667em;
  margin-bottom: 1.33em;
  font-family: var(--sm-header);
}

.v-input {
  font-weight: 300;
  line-height: 2.00em;
  padding-top: 0.667em;
  margin-bottom: 1.33em;
}

.v-expansion-panel-content__wrap {
  padding: 16px 4px !important;
}

.v-card__text,
.v-card__title {
  word-break: normal;
  /* maybe !important  */
}

/* language styles */