<template>
  <v-app-bar
    dense
    flat
    height="60"
  >
    <div class="d-flex align-center">
      <v-img
        alt="Logo"
        class="shrink mr-2"
        contain
        src="../assets/logo.svg"
        transition="scale-transition"
        width="70"
      />
    </div>
    <v-spacer />
    <LocaleSwitcher />
  </v-app-bar>
</template>

<script>
import LocaleSwitcher from "@/components/LocaleSwitcher"

export default {
  components: { LocaleSwitcher }
}
</script>