<template>
  <svg
    id="Tooltip"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 372.3 148.6"
  >
    <path
      style="fill:none;stroke:#3e3e3e;stroke-miterlimit:10;stroke-width:2px"
      d="M371.3 1H1v109.3h149.9l34.8 36.9 34.8-36.9h150.8V1z"
    />
    <path
      class="cls-1"
      d="m51.19 64 3.6 10.1h-6.2l-3.1-9.2h-4.8l-1.6 9.2h-5.8l4.8-27.3h10c1.9 0 3.5.3 4.9 1s2.5 1.7 3.2 2.9c.7 1.2 1.1 2.6 1.1 4.1 0 2.3-.5 4.2-1.6 5.8s-2.6 2.7-4.5 3.4zm-5.2-4c1.6 0 2.9-.4 3.9-1.3s1.5-2 1.5-3.5c0-1.1-.3-2-1-2.6s-1.7-.9-2.9-.9h-4.5l-1.4 8.4 4.4-.1zM82.39 46.8l-.9 5h-12l-1.1 6.4h9.8l-.9 4.8h-9.8l-1.9 11.1h-5.8l4.8-27.3h17.8zM96.89 68.1h-10.2l-3.1 6h-6.3l14.6-27.3h7l4.9 27.3h-6l-.9-6zm-.7-4.7-1.7-10.3-5.4 10.3h7.1zM126.79 68.5c.9.8 2.1 1.2 3.5 1.2 1.5 0 2.7-.3 3.6-.9.9-.6 1.3-1.4 1.3-2.5 0-.9-.4-1.6-1.3-2.1s-2.3-1.1-4.3-1.6c-2.5-.7-4.4-1.6-5.7-2.8s-2-2.8-2-4.9c0-2.8 1-4.8 2.9-6.3s4.6-2.2 7.9-2.2c1.9 0 3.6.3 5.1 1s2.6 1.7 3.5 2.9c.9 1.3 1.3 2.8 1.3 4.6h-5.7c-.1-1.1-.5-2-1.4-2.8s-1.9-1.1-3.1-1.1c-1.3 0-2.4.3-3.2.8s-1.2 1.4-1.2 2.4c0 .8.4 1.5 1.2 2s2.2 1 4.1 1.6c2.7.7 4.7 1.6 6.1 2.7s1.9 2.9 1.9 4.9c0 2.9-1 5.1-3.1 6.6-2.1 1.6-4.8 2.3-8.2 2.3-2.1 0-3.9-.4-5.5-1.1s-2.8-1.8-3.7-3.2-1.3-3-1.3-4.9l5.7.1c.2 1.4.7 2.6 1.6 3.3zM161.29 68.1h-10.2l-3.1 6h-6.3l14.6-27.3h7l4.9 27.3h-6l-.9-6zm-.7-4.7-1.7-10.3-5.4 10.3h7.1zM194.89 46.8l-.9 5h-12l-1.1 6.4h9.8l-.8 4.8h-9.8l-2 11.1h-5.9l4.8-27.3h17.9zM217.79 46.8l-.9 5h-12.3l-1.1 6.1h9.9l-.9 4.8h-9.8l-1.1 6.3h12.7l-.9 5h-18.6l4.9-27.2h18.1zM242.69 46.8c2.6 0 4.8.5 6.7 1.5 1.9 1 3.3 2.3 4.3 4.1s1.5 3.8 1.5 6.2c0 3.2-.6 5.9-1.9 8.2s-3.1 4.2-5.5 5.4-5.2 1.9-8.5 1.9h-9.6l4.8-27.3h8.2zm2.2 21.1c1.4-.9 2.5-2.1 3.3-3.7s1.1-3.3 1.1-5.3c0-2.3-.6-4.1-1.9-5.3s-2.9-1.9-5.1-1.9h-2.9l-3 17.5h3.6c1.9 0 3.5-.4 4.9-1.3zM275.89 64l3.6 10.1h-6.2l-3.1-9.2h-4.8l-1.7 9.2h-5.9l4.9-27.3h10c1.9 0 3.5.3 5 1 1.4.7 2.5 1.7 3.2 2.9.7 1.2 1.1 2.6 1.1 4.1 0 2.3-.5 4.2-1.6 5.8s-2.6 2.7-4.5 3.4zm-5.2-4c1.6 0 2.9-.4 3.9-1.3s1.5-2 1.5-3.5c0-1.1-.3-2-1-2.6s-1.7-.9-2.9-.9h-4.5l-1.4 8.4 4.4-.1zM310.89 52.2c1 1.8 1.5 3.8 1.5 6 0 3-.6 5.7-1.9 8.2-1.3 2.4-3.1 4.4-5.4 5.8s-5 2.1-8 2.1c-2.3 0-4.4-.5-6.2-1.5s-3.2-2.4-4.2-4.1c-1-1.7-1.5-3.8-1.5-6 0-3 .6-5.7 2-8.2 1.3-2.4 3.1-4.4 5.5-5.8 2.4-1.4 5-2.1 8-2.1 2.3 0 4.4.5 6.1 1.5s3.2 2.3 4.1 4.1zm-18.7 4.9c-.8 1.7-1.1 3.5-1.1 5.4 0 1.3.3 2.4.8 3.5s1.2 1.9 2.2 2.5 2 .9 3.3.9c1.8 0 3.4-.5 4.8-1.5s2.4-2.4 3.2-4.1c.8-1.7 1.1-3.5 1.1-5.4s-.6-3.6-1.7-4.9-2.6-2-4.5-2-3.4.5-4.8 1.5c-1.4 1.1-2.5 2.4-3.3 4.1zM334.79 47.8c1.4.7 2.5 1.7 3.2 2.9.7 1.2 1.1 2.6 1.1 4.1 0 2.1-.5 4-1.4 5.5s-2.3 2.7-4 3.5-3.7 1.2-5.9 1.2h-5.3l-1.6 9.2h-5.9l4.8-27.3h10c1.9-.1 3.6.2 5 .9zm-6.9 12.2c1.6 0 2.9-.4 3.9-1.3s1.5-2 1.5-3.5c0-1.1-.3-2-1-2.6s-1.7-.9-2.9-.9h-4.5l-1.4 8.4 4.4-.1z"
    />
  </svg>
</template>

<script>
export default {
    name: "TextBubble"
}
</script>

<style>
#Tooltip {
    min-height: 50px;
    width: 100%;
}
.cls-1 {
    fill: #3e3e3e
}
</style>
